<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.jjkavalam.lentapp"
        versionCode = "11" 
        version     = "1.1.0" >

    <!-- versionCode is optional and Android only -->

    <name>Lent App</name>

    <description>
        Lent App
    </description>
    
    <gap:plugin name="de.appplant.cordova.plugin.local-notification" version="0.7.5" />
    <gap:plugin name="org.apache.cordova.file" version="1.3.1" />
    <gap:plugin name="org.apache.cordova.statusbar" version="0.1.4" />

    <preference name="permissions" value="none"/>        
    <feature name="http://api.phonegap.com/1.0/notification" />
    
    <author href="" email="jjkavalam@gmail.com">
        jjkavalam
    </author>

    <!-- whitelist access to all domains -->
    <!-- <access origin="*" /> -->
    
</widget>
