<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>40 Days Of Lent</name>

    <description>
        A good deed everyday.
    </description>
    
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.file" />

    <feature name="debug-server" required="true">
        <param name="domain" value="http://192.168.0.103:8080"/>
        <param name="key" value="app"/>
    </feature>
  
    <author href="http://ccoenraets.github.io/cordova-tutorial/setup-files.html" email="">
        ccoenraets
    </author>

</widget>
